pi0_flow.json
[
    {
        "id": "af7da2c0.2d2c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e36d0fc0.8fb92",
        "type": "i2c scan",
        "z": "af7da2c0.2d2c1",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "3c6bc93c.786bd6"
            ],
            []
        ]
    },
    {
        "id": "8dc41002.5166f",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "e36d0fc0.8fb92"
            ]
        ]
    },
    {
        "id": "3c6bc93c.786bd6",
        "type": "debug",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c83c6d2.8d4daa",
        "type": "PCA9685 out",
        "z": "af7da2c0.2d2c1",
        "name": "Servo 0",
        "pca9685": "5974332d.e0508c",
        "channel": "0",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "dcd802a1.f6527",
        "type": "PCA9685 out",
        "z": "af7da2c0.2d2c1",
        "name": "Servo 1",
        "pca9685": "5974332d.e0508c",
        "channel": "1",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "5d1730e.9ea2bd",
        "type": "PCA9685 out",
        "z": "af7da2c0.2d2c1",
        "name": "Servo 2",
        "pca9685": "5974332d.e0508c",
        "channel": "2",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "befa049c.acd998",
        "type": "PCA9685 out",
        "z": "af7da2c0.2d2c1",
        "name": "Servo 3",
        "pca9685": "5974332d.e0508c",
        "channel": "3",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "59eea1fc.3d5da",
        "type": "function",
        "z": "af7da2c0.2d2c1",
        "name": "Map angle",
        "func": "// Convertir entrada en grados (0 a 180)\n// a salida en us (500 a 2400)\n\nmsg.payload *= 1900/180;\nmsg.payload += 500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f1ee3a25.40e308",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "59eea1fc.3d5da"
            ]
        ]
    },
    {
        "id": "597392f6.25099c",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "59eea1fc.3d5da"
            ]
        ]
    },
    {
        "id": "e556c779.6db688",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "59eea1fc.3d5da"
            ]
        ]
    },
    {
        "id": "c48ea47e.b78068",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "135",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "59eea1fc.3d5da"
            ]
        ]
    },
    {
        "id": "b0e33b56.ef45f8",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "59eea1fc.3d5da"
            ]
        ]
    },
    {
        "id": "b5053512.f31268",
        "type": "ui_slider",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "S0",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "300",
        "max": "2600",
        "step": "1",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "881f9d60.ef388"
            ]
        ]
    },
    {
        "id": "5cfae763.b4edc8",
        "type": "ui_slider",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "S1",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "66a39229.0a580c"
            ]
        ]
    },
    {
        "id": "6f81229.d42e5dc",
        "type": "ui_slider",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "S2",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "b0c04a2e.4f6c58"
            ]
        ]
    },
    {
        "id": "1b54789c.b2e517",
        "type": "ui_slider",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "S3",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "e1a43c74.838e1"
            ]
        ]
    },
    {
        "id": "881f9d60.ef388",
        "type": "ui_numeric",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 5,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "step": 1,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "2c83c6d2.8d4daa"
            ]
        ]
    },
    {
        "id": "66a39229.0a580c",
        "type": "ui_numeric",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 6,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "dcd802a1.f6527"
            ]
        ]
    },
    {
        "id": "b0c04a2e.4f6c58",
        "type": "ui_numeric",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 8,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "5d1730e.9ea2bd"
            ]
        ]
    },
    {
        "id": "e1a43c74.838e1",
        "type": "ui_numeric",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ddee32ab.74b99",
        "order": 9,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "35b98026.02ca1",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "cfc3de2d.23f48"
            ]
        ]
    },
    {
        "id": "cfc3de2d.23f48",
        "type": "function",
        "z": "af7da2c0.2d2c1",
        "name": "SPI basic usage",
        "func": "var SPI = global.get(\"spi\");\n\nvar spi = new SPI.Spi('/dev/spidev0.0', {\n    'mode': SPI.MODE['MODE_0'],  // always set mode as the first option\n    'chipSelect': SPI.CS['none'] // 'none', 'high' - defaults to low\n  }, function(s){s.open();});\n\nvar txbuf = new Buffer([ 0x23, 0x48, 0xAF, 0x19, 0x19, 0x19 ]);\nvar rxbuf = new Buffer([ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ]);\n\nspi.transfer(txbuf, rxbuf, function(device, buf) {\n    // rxbuf and buf should be the same here\n    var s = \"\";\n    for (var i=0; i < buf.length; i++)\n        s = s + buf[i] + \" \";\n        console.log(s + \"- \" + new Date().getTime());\n  });\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "afd04d21.bbbeb",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "bd8a1fad.33646"
            ]
        ]
    },
    {
        "id": "bd8a1fad.33646",
        "type": "function",
        "z": "af7da2c0.2d2c1",
        "name": "MAX7219 letter",
        "func": "var max7219LedMatrix = global.get(\"max7219LedMatrix\");\nvar max7219 = new max7219LedMatrix.max7219(\"/dev/spidev0.0\");\n\nmax7219.letter(msg.payload);\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d83c66ec.739f38",
        "type": "inject",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "topic": "",
        "payload": "0x11",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "16333f42.0964b1"
            ]
        ]
    },
    {
        "id": "16333f42.0964b1",
        "type": "function",
        "z": "af7da2c0.2d2c1",
        "name": "MAX7219 _write",
        "func": "var max7219LedMatrix = global.get(\"max7219LedMatrix\");\nvar max7219 = new max7219LedMatrix.max7219(\"/dev/spidev0.0\");\n\nmax7219._write(7, msg.payload);\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8a2083ac.75178",
        "type": "pubnub in",
        "z": "af7da2c0.2d2c1",
        "keys": "e8ec51aa.fe174",
        "channel": "node-red",
        "auth_token": "",
        "cipher_key": "",
        "ssl": true,
        "verbose_logging": false,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "d0e7a44b.028c98"
            ]
        ]
    },
    {
        "id": "f887b6e5.594628",
        "type": "ui_gauge",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "group": "ddee32ab.74b99",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "400",
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "196765ec.9087e2",
        "type": "debug",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "d0e7a44b.028c98",
        "type": "function",
        "z": "af7da2c0.2d2c1",
        "name": "",
        "func": "var caca = {payload:0, xxx:0};\ncaca.payload = msg.payload * 10 + 1000\nreturn caca;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 640,
        "wires": [
            [
                "f887b6e5.594628",
                "196765ec.9087e2",
                "befa049c.acd998"
            ]
        ]
    },
    {
        "id": "5974332d.e0508c",
        "type": "PCA9685",
        "z": "",
        "deviceNumber": "1",
        "address": "64",
        "frequency": "50"
    },
    {
        "id": "ddee32ab.74b99",
        "type": "ui_group",
        "z": "",
        "name": "Servos",
        "tab": "fe47e7.e064c818",
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "e8ec51aa.fe174",
        "type": "pubnub-keys",
        "z": "",
        "pub_key": "pub-c-f6fa90b1-d52d-4916-95ab-67c726c9e5d8",
        "sub_key": "sub-c-c12a818c-fcb4-11e9-a301-7a3b1591b90a"
    },
    {
        "id": "fe47e7.e064c818",
        "type": "ui_tab",
        "z": "",
        "name": "Mini Brazo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
