flows/pi_flow_02.json
[
    {
        "id": "6dba3275.4308cc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab294506.94e888",
        "type": "i2c scan",
        "z": "6dba3275.4308cc",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "1e64a8ab.86c1e7"
            ],
            []
        ]
    },
    {
        "id": "e01f5b47.657138",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "ab294506.94e888"
            ]
        ]
    },
    {
        "id": "1e64a8ab.86c1e7",
        "type": "debug",
        "z": "6dba3275.4308cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a573728.ef20b8",
        "type": "PCA9685 out",
        "z": "6dba3275.4308cc",
        "name": "Servo 0",
        "pca9685": "1d23a4d.c51065b",
        "channel": "0",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "aaae0bbd.90ae68",
        "type": "PCA9685 out",
        "z": "6dba3275.4308cc",
        "name": "Servo 1",
        "pca9685": "1d23a4d.c51065b",
        "channel": "1",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "97d378ae.bc7558",
        "type": "PCA9685 out",
        "z": "6dba3275.4308cc",
        "name": "Servo 2",
        "pca9685": "1d23a4d.c51065b",
        "channel": "2",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ef6aac7.b897e4",
        "type": "PCA9685 out",
        "z": "6dba3275.4308cc",
        "name": "Servo 3",
        "pca9685": "1d23a4d.c51065b",
        "channel": "3",
        "payload": "",
        "unit": "microseconds",
        "onStep": "0",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "6e1bba0.8139248",
        "type": "function",
        "z": "6dba3275.4308cc",
        "name": "Map angle",
        "func": "// Convertir entrada en grados (0 a 180)\n// a salida en us (500 a 2400)\n\nmsg.payload *= 1900/180;\nmsg.payload += 500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d294b4.89812b5",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6e1bba0.8139248"
            ]
        ]
    },
    {
        "id": "e38237c9.7eb4b8",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "6e1bba0.8139248"
            ]
        ]
    },
    {
        "id": "a935fc97.2127f",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "6e1bba0.8139248"
            ]
        ]
    },
    {
        "id": "9686afb8.cbfc7",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "135",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6e1bba0.8139248"
            ]
        ]
    },
    {
        "id": "4dec42e5.70301c",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "6e1bba0.8139248"
            ]
        ]
    },
    {
        "id": "49c39c0.e8d6464",
        "type": "ui_slider",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "S0",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "300",
        "max": "2600",
        "step": "1",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "7076b998.0fdc28"
            ]
        ]
    },
    {
        "id": "d15c9730.883508",
        "type": "ui_slider",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "S1",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "c19ed476.033a48"
            ]
        ]
    },
    {
        "id": "30bcb1cb.c82e6e",
        "type": "ui_slider",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "S2",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "50e6a3c2.cc471c"
            ]
        ]
    },
    {
        "id": "8b0a7cd6.494b2",
        "type": "ui_slider",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "S3",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "400",
        "max": "2500",
        "step": "1",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "e5a696e9.d7ad48"
            ]
        ]
    },
    {
        "id": "7076b998.0fdc28",
        "type": "ui_numeric",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 5,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "step": 1,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "6a573728.ef20b8"
            ]
        ]
    },
    {
        "id": "c19ed476.033a48",
        "type": "ui_numeric",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 6,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "aaae0bbd.90ae68"
            ]
        ]
    },
    {
        "id": "50e6a3c2.cc471c",
        "type": "ui_numeric",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 7,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "97d378ae.bc7558"
            ]
        ]
    },
    {
        "id": "e5a696e9.d7ad48",
        "type": "ui_numeric",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 8,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "5ef6aac7.b897e4"
            ]
        ]
    },
    {
        "id": "d457eec2.5aaaf",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "2b7a8c35.ec5f14"
            ]
        ]
    },
    {
        "id": "2b7a8c35.ec5f14",
        "type": "function",
        "z": "6dba3275.4308cc",
        "name": "SPI basic usage",
        "func": "var SPI = global.get(\"spi\");\n\nvar spi = new SPI.Spi('/dev/spidev0.0', {\n    'mode': SPI.MODE['MODE_0'],  // always set mode as the first option\n    'chipSelect': SPI.CS['none'] // 'none', 'high' - defaults to low\n  }, function(s){s.open();});\n\nvar txbuf = new Buffer([ 0x23, 0x48, 0xAF, 0x19, 0x19, 0x19 ]);\nvar rxbuf = new Buffer([ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ]);\n\nspi.transfer(txbuf, rxbuf, function(device, buf) {\n    // rxbuf and buf should be the same here\n    var s = \"\";\n    for (var i=0; i < buf.length; i++)\n        s = s + buf[i] + \" \";\n        console.log(s + \"- \" + new Date().getTime());\n  });\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "35293b94.d324b4",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "42c4b4b9.eb53bc"
            ]
        ]
    },
    {
        "id": "42c4b4b9.eb53bc",
        "type": "function",
        "z": "6dba3275.4308cc",
        "name": "MAX7219 letter",
        "func": "var max7219LedMatrix = global.get(\"max7219LedMatrix\");\nvar max7219 = new max7219LedMatrix.max7219(\"/dev/spidev0.0\");\nmax7219.setBrightness(0);\n\n//max7219.clear(); //no funciona?\nfor (var i=1; i<=8; i++) max7219._write(i, 0); //Limpiar\nmax7219.letter(msg.payload, max7219LedMatrix.SINCLAIR_FONT);\nreturn;\n\n/* Fuentes disponibles\n\nCP437_FONT = DEFAULT_FONT\nSINCLAIR_FONT\nLCD_FONT\nUKR_FONT\nTINY_FONT\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5199fa4d.970304",
        "type": "inject",
        "z": "6dba3275.4308cc",
        "name": "",
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "adf8e97d.9d6378"
            ]
        ]
    },
    {
        "id": "adf8e97d.9d6378",
        "type": "function",
        "z": "6dba3275.4308cc",
        "name": "MAX7219 _write",
        "func": "var max7219LedMatrix = global.get(\"max7219LedMatrix\");\nvar max7219 = new max7219LedMatrix.max7219(\"/dev/spidev0.0\");\nmax7219.setBrightness(0);\n\nmax7219._write(1, msg.payload);\nmax7219._write(2, 0b00100100);\nmax7219._write(3, 0b01000010);\nmax7219._write(4, 0b10000001);\nmax7219._write(5, 0b10000001);\nmax7219._write(6, 0b01000010);\nmax7219._write(7, 0b00100100);\nmax7219._write(8, 0b00011000);\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e91b5a2b.0b52a8",
        "type": "pubnub in",
        "z": "6dba3275.4308cc",
        "keys": "c09dae2a.bd71c",
        "channel": "node-red",
        "auth_token": "",
        "cipher_key": "",
        "ssl": true,
        "verbose_logging": false,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "8c5ff63.7e24a08"
            ]
        ]
    },
    {
        "id": "7712a468.6b584c",
        "type": "ui_gauge",
        "z": "6dba3275.4308cc",
        "name": "",
        "group": "d470f93f.7ea778",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "400",
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "ce9472a1.6cf37",
        "type": "debug",
        "z": "6dba3275.4308cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "8c5ff63.7e24a08",
        "type": "function",
        "z": "6dba3275.4308cc",
        "name": "",
        "func": "var caca = {payload:0, xxx:0};\ncaca.payload = msg.payload * 10 + 1000\nreturn caca;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 640,
        "wires": [
            [
                "7712a468.6b584c",
                "ce9472a1.6cf37"
            ]
        ]
    },
    {
        "id": "37f5f84.7724188",
        "type": "ui_text_input",
        "z": "6dba3275.4308cc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d470f93f.7ea778",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "42c4b4b9.eb53bc"
            ]
        ]
    },
    {
        "id": "1d23a4d.c51065b",
        "type": "PCA9685",
        "z": "",
        "deviceNumber": "1",
        "address": "64",
        "frequency": "50"
    },
    {
        "id": "d470f93f.7ea778",
        "type": "ui_group",
        "z": "",
        "name": "Servos",
        "tab": "e894f7f9.0ac058",
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "c09dae2a.bd71c",
        "type": "pubnub-keys",
        "z": "",
        "pub_key": "pub-c-f6fa90b1-d52d-4916-95ab-67c726c9e5d8",
        "sub_key": "sub-c-c12a818c-fcb4-11e9-a301-7a3b1591b90a"
    },
    {
        "id": "e894f7f9.0ac058",
        "type": "ui_tab",
        "z": "",
        "name": "Mini Brazo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
